@{
    ViewData["Title"] = "Home Page";
}
</div>
    <div class="container-fluid landing-page">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>to Team SUBRED insane Car Rental System</p>
        </div>
    </div>
<div>
