@model CarRental.MVC.Models.CarDeleteVm

@{
    ViewData["Title"] = "Delete";
}

<h3 class="h4 mt-5 mb-4">
    Are you sure you want to delete?
</h3>
<form asp-action="Delete">
    <input type="submit" value="Yes delete it!" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-dark">No cancel</a>
</form>