@model CarRental.MVC.Models.RentalCreateVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentalCreateVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarList" class="control-label"></label>
                @Html.DropDownListFor(m => m.CarReferenceId, Model.CarList, "Choose a rental car")
                @*<select asp-for="CarList" class="form-control" asp-items="Model.CarList"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="MembersList" class="control-label"></label>
                @Html.DropDownListFor(m => m.MemberCardId, Model.MembersList, "Choose a member")
                @*<select asp-for="MembersList" class="form-control" asp-items="Model.MembersList"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="Rented" class="control-label"></label>
                <input asp-for="Rented" class="form-control" />
                <span asp-validation-for="Rented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReturn" class="control-label"></label>
                <input asp-for="ExpectedReturn" class="form-control" />
                <span asp-validation-for="ExpectedReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

